nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    align-content: space-around;
  
}
.button {
    
    background-color: white;
    border: solid white 1px;
}